webap/Connected Services/SchedeService/Schede1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws2010/Schede/Schede.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSSchede" />
  <xs:import schemaLocation="http://ws2010/Schede/Schede.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchede">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSSchede" minOccurs="0" name="GetSchedeResult" nillable="true" type="q1:ArrayOfScheda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemID" type="xs:int" />
        <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="GetSchedaResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>