webap/Connected Services/SchedeService/Schede.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Schede" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ws2010/Schede/Schede.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ws2010/Schede/Schede.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ws2010/Schede/Schede.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSSchede" />
      <xsd:import schemaLocation="http://ws2010/Schede/Schede.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISchede_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISchede_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISchede_GetSchede_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchede" />
  </wsdl:message>
  <wsdl:message name="ISchede_GetSchede_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedeResponse" />
  </wsdl:message>
  <wsdl:message name="ISchede_GetScheda_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheda" />
  </wsdl:message>
  <wsdl:message name="ISchede_GetScheda_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedaResponse" />
  </wsdl:message>
  <wsdl:portType name="ISchede">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchede/DoWork" message="tns:ISchede_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchede/DoWorkResponse" message="tns:ISchede_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchede">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchede/GetSchede" message="tns:ISchede_GetSchede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchede/GetSchedeResponse" message="tns:ISchede_GetSchede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScheda">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchede/GetScheda" message="tns:ISchede_GetScheda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchede/GetSchedaResponse" message="tns:ISchede_GetScheda_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISchede" type="tns:ISchede">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISchede/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchede">
      <soap:operation soapAction="http://tempuri.org/ISchede/GetSchede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheda">
      <soap:operation soapAction="http://tempuri.org/ISchede/GetScheda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Schede">
    <wsdl:port name="BasicHttpBinding_ISchede" binding="tns:BasicHttpBinding_ISchede">
      <soap:address location="http://ws2010/Schede/Schede.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>