webap/Connected Services/SchedeService/Schede3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSSchede" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSSchede" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfScheda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Scheda" nillable="true" type="tns:Scheda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheda" nillable="true" type="tns:ArrayOfScheda" />
  <xs:complexType name="Scheda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemID" type="xs:int" />
      <xs:element minOccurs="0" name="Lingua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Scheda" nillable="true" type="tns:Scheda" />
</xs:schema>